<div class="row mt-4">
    <div class="col-1"></div>
    <div class="col-2"><b>NOMBRE</b></div>
    <div class="col-3"><b>DESCRIPCION</b></div>
    <div class="col-3"><b>PRECIO</b></div>
</div>

<div *ngFor="let producto of productos">
    <app-producto [producto]="producto" (modificarProductoEvent)="abrirModalModificacion($event)"></app-producto>
</div>

<!-- Modal -->
<div class="modal fade" id="modificarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar Producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="" class="m-4">
                <div class="m-2">
                    <label for="nombre">Nombre: </label>
                    <input type="text" name="nombre" [(ngModel)]="producto.nombre">
                </div>
                <div class="m-2">
                    <label for="descripcion">Descripción: </label>
                    <input type="text" name="descripcion" [(ngModel)]="producto.descripcion">
                </div>
                <div class="m-2">
                    <label for="">Precio: </label>
                    <input type="number" name="precio" [(ngModel)]="producto.precio">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="modificarProducto()">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>